<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Godisnji Plan Form</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="col-sm-8 col-sm-offset-2">
					<form th:action="@{/logout}" method="get">
						<button class="btn btn-md btn-danger btn-block" name="logout"
							type="Submit">Logout</button>
					</form>
				</div>

				<div class="col-sm-8 col-sm-offset-2">
					<form th:action="@{/addNastavniPlanPredmet}" method="get">
						<button class="btn btn-md btn-default btn-block" name="npp"
							type="Submit">Nastavni Plan Predmeti Form</button>
					</form>
				</div>

				<form autocomplete="off" action="#" th:action="@{/saveGodisnjiPlan}"
					th:object="${godisnjiPlanForm}" method="post"
					class="form-horizontal" role="form">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="text-center">Godisnji Plan Form</h2>
					</div>

					<div class="form-group">
						<input type="hidden" th:field="*{id}" />
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<label>Datum Usvajanja</label> <label
								th:if="${#fields.hasErrors('datumUsvajanja')}"
								th:errors="*{datumUsvajanja}" class="validation-message"></label>
							<input type="date" th:field="*{datumUsvajanja}"
								placeholder="Datum Usvajanja" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<label>Vazi Do</label> <label
								th:if="${#fields.hasErrors('vaziDo')}" th:errors="*{vaziDo}"
								class="validation-message"></label> <input type="date"
								th:field="*{vaziDo}" placeholder="Vazi Do" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<label th:if="${#fields.hasErrors('nazivSkole')}"
								th:errors="*{nazivSkole}" class="validation-message"></label> <input
								type="text" th:field="*{nazivSkole}" placeholder="Naziv Skole"
								class="form-control" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4 col-sm-offset-2">
							<select class="form-control" th:field="*{skolska_godina}"
								id="godisnjiPlan">
								<option value="0">Skolska Godina</option>
								<option th:each="skolskaGodina : ${listSkolskaGodina}"
									th:value="${skolskaGodina.id}"
									th:utext=${skolskaGodina.datumPocetk}>1</option>
							</select>
						</div>
						<div class="col-sm-4">
							<a class="btn btn-md btn-primary btn-block"
								th:href="${'/addSkolskaGodina'}">add Skolska Godina</a>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-4">
							<label>Usvojen</label>
						</div>
						<div class="col-sm-2">
							<input type="checkbox" th:field="*{usvojen}"
								th:value="${usvojen}" th:checked="${true}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<button type="submit" class="btn btn-primary btn-block">Save</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>

				</form>

			</div>
		</div>
	</div>

</body>
</html>